.sidebar {
    width: 10px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
  }
  
  .sidebar .nav-link {
    color: white;
    margin: 0 15px;
  }
  
  .sidebar .nav-link:hover {
    background-color: #495057;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
    }
  }
  